@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body{
    background:var(--Light-gray);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
}

.main__card{
    width: 100%;
    height: 100%;
}

.card{
    width: 390px;
    height: 600px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--White);
    border-radius: 1.5em;
}

.card__header{
    width: 350px;
    height: 350px;
    margin: auto;
    padding-top: 20px;
}

.card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8em;
}

.card__body{
    margin-top: 30px;
    padding: 0 40px;
}

.card__title{
    color: var(--Dark-blue);
    font-weight: 700;
    font-size: 1.8em;
}

.card__footer{
    padding: 0 50px;
}

.card__paragraph{
    color: var(--Grayish-blue);
    font-weight: 400;
    text-align: center;
    font-size: 1.2em;
}

@media screen and (max-width:375px){
    .card{
        width: 320px;
        height: 500px;
    }

    .card__header{
        width: 285px;
        height: 285px;
        padding-top: 15px;
    }

    .card__body{
        padding: 0 32px;
    }

    .card__title{
        font-size: 1.5em;
    }

    .card__footer{
        padding: 0 30px;
    }

    .card__paragraph{
        font-size: 1em;
    }


}

